<div class="container-fluid">
  <div class="row">
    <div class="column">
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar">
      <div class="position-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <div class="container">
              <img src="assets/botnoi.svg" alt="Botnoi Logo" class="logo">
            </div>
          </li>
          <li class="nav-item">
            <button class="btn btn-link icon-container" type="button">
              <i class="bi bi-house-door"></i>
            </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-link icon-container" type="button">
              <i class="bi bi-dash-circle"></i>
            </button>
          </li>
           <li class="nav-item">
            <button class="btn btn-link out-icon-container" type="button" (click)="navigateToLogin()">
              <i class="bi bi-box-arrow-right"></i>
            </button>
          </li>
        </ul>
       
      </div>
    </nav>
  
  <div class="column">
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <h1 class="header1">
        Revenue name
      </h1>
      <p class="date">
        Thursday 15 Feb, 2024
      </p>
      <div id="myTab">
        <button class="btn btn-primary-table active " type="button" data-bs-toggle="tab" data-bs-target="#profile">Table</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="tab" data-bs-target="#Tranfer table">Tranfer table</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="tab" data-bs-target="#Adjust slip">Adjust slip</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="tab" data-bs-target="#View slip">View slip</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="tab" data-bs-target="#Refresh data">Refresh data</button>      
      </div>
      <div class="row-rec">
      <div class="rec-container">
        <div class="column">
          <div class="rectangle recleft1"></div>
          <div class="rectangle recleft2"></div>
        </div>
        <div class="column">
          <div class="rectangle recleftMiddle">1</div>
        </div>
        <div class="column">
          <div class="rectangle recright1"></div>
          <div class="rectangle recright2"></div>
        </div>
      </div>
      
      <div class="rec-container">
        <div class="column">
          <div class="rectangle recleft1"></div>
          <div class="rectangle recleft2"></div>
        </div>
        <div class="column">
          <div class="rectangle recleftMiddle">2</div>
        </div>
        <div class="column">
          <div class="rectangle recright1"></div>
          <div class="rectangle recright2"></div>
        </div>
      </div>
      <div class="rec-container">
        <div class="column">
          <div class="rectangle recleft1"></div>
          <div class="rectangle recleft2"></div>
        </div>
        <div class="column">
          <div class="rectangle recleftMiddle">3</div>
        </div>
        <div class="column">
          <div class="rectangle recright1"></div>
          <div class="rectangle recright2"></div>
        </div>
      </div>
      <div class="rec-container">
        <div class="column">
          <div class="rectangle recleft1"></div>
          <div class="rectangle recleft2"></div>
        </div>
        <div class="column">
          <div class="rectangle recleftMiddle">4</div>
        </div>
        <div class="column">
          <div class="rectangle recright1"></div>
          <div class="rectangle recright2"></div>
        </div>
      </div>
      <div class="rec-container">
        <div class="column">
          <div class="rectangle recleft1"></div>
          <div class="rectangle recleft2"></div>
        </div>
        <div class="column">
          <div class="rectangle recleftMiddle">5</div>
        </div>
        <div class="column">
          <div class="rectangle recright1"></div>
          <div class="rectangle recright2"></div>
        </div>
      </div>
    </div>

    <div class="row-rec">
      <div class="rec-container">
        <div class="column">
          <div class="rectangle recleft1"></div>
          <div class="rectangle recleft2"></div>
        </div>
        <div class="column">
          <div class="rectangle recleftMiddle">6</div>
        </div>
        <div class="column">
          <div class="rectangle recright1"></div>
          <div class="rectangle recright2"></div>
        </div>
      </div>
      
      <div class="rec-container">
        <div class="column">
          <div class="rectangle recleft1"></div>
          <div class="rectangle recleft2"></div>
        </div>
        <div class="column">
          <div class="rectangle recleftMiddle">7</div>
        </div>
        <div class="column">
          <div class="rectangle recright1"></div>
          <div class="rectangle recright2"></div>
        </div>
      </div>
      <div class="rec-container">
        <div class="column">
          <div class="rectangle recleft1"></div>
          <div class="rectangle recleft2"></div>
        </div>
        <div class="column">
          <div class="rectangle recleftMiddle">8</div>
        </div>
        <div class="column">
          <div class="rectangle recright1"></div>
          <div class="rectangle recright2"></div>
        </div>
      </div>
      <div class="rec-container">
        <div class="column">
          <div class="rectangle recleft1"></div>
          <div class="rectangle recleft2"></div>
        </div>
        <div class="column">
          <div class="rectangle recleftMiddle">9</div>
        </div>
        <div class="column">
          <div class="rectangle recright1"></div>
          <div class="rectangle recright2"></div>
        </div>
      </div>
      <div class="rec-container">
        <div class="column">
          <div class="rectangle recleft1"></div>
          <div class="rectangle recleft2"></div>
        </div>
        <div class="column">
          <div class="rectangle recleftMiddle">10</div>
        </div>
        <div class="column">
          <div class="rectangle recright1"></div>
          <div class="rectangle recright2"></div>
        </div>
      </div>
    </div>
    <div class="row-rec">
      <div class="rec-container">
        <div class="column">
          <div class="rectangle recleft1"></div>
          <div class="rectangle recleft2"></div>
        </div>
        <div class="column">
          <div class="rectangle recleftMiddle">11</div>
        </div>
        <div class="column">
          <div class="rectangle recright1"></div>
          <div class="rectangle recright2"></div>
        </div>
      </div>
      
      <div class="rec-container">
        <div class="column">
          <div class="rectangle recleft1"></div>
          <div class="rectangle recleft2"></div>
        </div>
        <div class="column">
          <div class="rectangle recleftMiddle">12</div>
        </div>
        <div class="column">
          <div class="rectangle recright1"></div>
          <div class="rectangle recright2"></div>
        </div>
      </div>
      <div class="rec-container">
        <div class="column">
          <div class="rectangle recleft1"></div>
          <div class="rectangle recleft2"></div>
        </div>
        <div class="column">
          <div class="rectangle recleftMiddle">13</div>
        </div>
        <div class="column">
          <div class="rectangle recright1"></div>
          <div class="rectangle recright2"></div>
        </div>
      </div>
      <div class="rec-container">
        <div class="column">
          <div class="rectangle recleft1"></div>
          <div class="rectangle recleft2"></div>
        </div>
        <div class="column">
          <div class="rectangle recleftMiddle">14</div>
        </div>
        <div class="column">
          <div class="rectangle recright1"></div>
          <div class="rectangle recright2"></div>
        </div>
      </div>
      <div class="rec-container">
        <div class="column">
          <div class="rectangle recleft1"></div>
          <div class="rectangle recleft2"></div>
        </div>
        <div class="column">
          <div class="rectangle recleftMiddle">15</div>
        </div>
        <div class="column">
          <div class="rectangle recright1"></div>
          <div class="rectangle recright2"></div>
        </div>
        </div>
      </div>
      </main>
    </div>
  </div>
</div>
