

.container {
    width: 500px;
    height: 100vh;
    margin: auto;
    background-color: #2e2e2e;
    border-radius: 25px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.regis{
  margin-top: 50px;
  color: #fff;
}
.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block; 
    color: #fff;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 470px; 
    height: 50px;
    padding: 10px;
    border: 5px solid #ccc;
    border-radius: 5px;
    margin-top: 5px; 
    margin-bottom: 10px; 
    box-sizing: border-box;
    border-radius: 10px;
    
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block; 
}

button:hover {
    background-color: #0056b3;
}

.disabled-button {
    background-color: #cccccc;
  }

  .passwords-not-matching:hover input {
    border-color: red;
  }

  .passwords-not-matching:hover {
    border-color: red;
  }

  .green-border:hover {
    border-color: green;
  }

  .green-border:hover input.green-border {
    border-color: green;
  }

  .form-control.invalid-input:hover {
    border-color: red;
  }
